<%- include('layout', { title: 'About', body: `
<div class="container-xxl py-5 bg-primary hero-header mb-5">
  <div class="container my-5 py-5 px-lg-5">
    <div class="row g-5 pt-5">
      <div class="col-12 text-center text-lg-start">
        <h1 class="display-4 text-white animated slideInLeft">
          Welcome to TroyHost
        </h1>
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb justify-content-center justify-content-lg-start animated slideInLeft"
          >
            <li class="breadcrumb-item">
              <a class="text-white" href="/">Home</a>
            </li>
            <li class="breadcrumb-item text-white active" aria-current="page">
              about
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-4">
          <h1 class="mb-2">About Us</h1>
        </div>
        <p class="mb-4">
          5 years of experience in providing high quality, affordable website
          hosting. Your account will utilize only the best of breed server
          hardware, the most dependable network providers and the most up to
          date software programs available anywhere on the internet.
        </p>
        <div class="row g-3">
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="bg-light rounded text-center p-4">
              <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
              <h2 class="mb-1" data-toggle="counter-up">54</h2>
              <p class="mb-0">Experts</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
            <div class="bg-light rounded text-center p-4">
              <i class="fa fa-users fa-2x text-primary mb-2"></i>
              <h2 class="mb-1" data-toggle="counter-up">1212</h2>
              <p class="mb-0">Clients</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-light rounded text-center p-4">
              <i class="fa fa-check fa-2x text-primary mb-2"></i>
              <h2 class="mb-1" data-toggle="counter-up">280</h2>
              <p class="mb-0">Projects</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <img
          class="img-fluid wow zoomIn"
          data-wow-delay="0.5s"
          src="img/about.png"
        />
      </div>
    </div>
  </div>
</div>
<!-- About End -->

` }) %>
