<%- include('layout', { title: 'Home', body: `
<div class="container-xxl py-5 bg-primary hero-header mb-5">
  <div class="container my-5 py-5 px-lg-5">
    <div class="row g-5">
      <div class="col-lg-6 pt-5 text-center text-lg-start">
        <h1 class="display-4 text-white mb-4 animated slideInLeft">
          Baby plan Hosting
        </h1>
        <p class="text-white animated slideInLeft">
          Fast, Secure, & Eco-friendly Shared Hosting Troyhost Shared Hosting
          minimizes performance issues, offering enhanced speed and robust
          security solutions for your website.
        </p>
        <h1 class="text-white mb-4 animated slideInLeft">
          <small
            class="align-top fw-normal"
            style="font-size: 15px; line-height: 25px"
            >Starting:</small
          >
          <span>Ksh 11,034</span>
          <small
            class="align-bottom fw-normal"
            style="font-size: 15px; line-height: 33px"
            >/ Yr</small
          >
        </h1>
        <a
          href="/purchase/1"
          class="btn btn-secondary py-sm-3 px-sm-5 me-3 animated slideInLeft"
          >Get Started Now</a
        >
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <img class="img-fluid animated zoomIn" src="img/hero.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Domain Search Start -->
<div class="container-xxl domain mb-5" style="margin-top: 90px">
  <div class="container px-lg-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div
          class="section-title position-relative text-center mx-auto mb-4 pb-4 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 600px"
        >
          <h1 class="mb-3">Search Your Domain</h1>
          <p class="mb-1">
            Our domain manager makes it easy to update, transfer, purchase and
            manage your domains in one place.
          </p>
        </div>
        <div
          class="position-relative w-100 my-3 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <input
            id="domainInput"
            class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
            type="text"
            placeholder="Enter your domain name"
          />
          <button
            id="searchBtn"
            type="button"
            class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2"
          >
            Search
          </button>
          <div id="result"></div>
        </div>
        <div class="row g-3 wow fadeInUp" data-wow-delay="0.5s">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
            <h5 class="fw-bold text-primary mb-1">.com</h5>
            <p class="mb-0">Ksh 2,500/year</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
            <h5 class="fw-bold text-primary mb-1">.co.ke</h5>
            <p class="mb-0">Ksh 1,000/year</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
            <h5 class="fw-bold text-primary mb-1">.org</h5>
            <p class="mb-0">Ksh 2,500/year</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
            <h5 class="fw-bold text-primary mb-1">.africa</h5>
            <p class="mb-0">Ksh 1,500/year</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
            <h5 class="fw-bold text-primary mb-1">.xyz</h5>
            <p class="mb-0">Ksh 900/year</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
            <h5 class="fw-bold text-primary mb-1">.net</h5>
            <p class="mb-0">Ksh 2,700/year</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Domain Search End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-4">
          <h1 class="mb-2">Welcome to TroyHost</h1>
        </div>
        <p class="mb-4">
          A leader in eco-friendly web hosting services. Over 5 years ago, we
          set out to provide powerful web hosting services to small businesses
          while allowing them to make a positive impact on the environment.
        </p>
        <div class="row g-3">
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="bg-light rounded text-center p-4">
              <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
              <h2 class="mb-1" data-toggle="counter-up">54</h2>
              <p class="mb-0">Experts</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
            <div class="bg-light rounded text-center p-4">
              <i class="fa fa-users fa-2x text-primary mb-2"></i>
              <h2 class="mb-1" data-toggle="counter-up">1212</h2>
              <p class="mb-0">Clients</p>
            </div>
          </div>
          <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-light rounded text-center p-4">
              <i class="fa fa-check fa-2x text-primary mb-2"></i>
              <h2 class="mb-1" data-toggle="counter-up">280</h2>
              <p class="mb-0">Projects</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <img
          class="img-fluid wow zoomIn"
          data-wow-delay="0.5s"
          src="img/about.png"
        />
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Pricing Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Our Hosting Plans</h1>
      <p class="mb-1">
        No matter your hosting requirements, our platform will fit your needs.
      </p>
    </div>
    <div class="row gy-5 gx-4" id="plans"></div>
  </div>
</div>
<!-- Pricing End -->

<!-- Comparison Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Baby plan VS Executive Server</h1>
      <p class="mb-1">Explore our features</p>
    </div>
    <div class="row g-5 comparison position-relative">
      <div class="col-lg-6 pe-lg-5">
        <div class="section-title position-relative mx-auto mb-4 pb-4">
          <h3 class="fw-bold mb-0">Baby plan Server</h3>
        </div>
        <div class="row gy-3 gx-5">
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
            <i class="fa fa-server fa-3x text-primary mb-3"></i>
            <h5 class="fw-bold">99.99% Uptime</h5>
            <p>
              Dedicated clusters, backups, and more. Our dedicated servers are
              as reliable as it gets with 99.99% uptime, complete with the peace
              of mind of 24/7 server monitoring.
            </p>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
            <h5 class="fw-bold">100% Secured</h5>
            <p>
              Free SSL certificates offer 2048-bit encryption – keeping you and
              your customers secure.
            </p>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
            <i class="fa fa-cog fa-3x text-primary mb-3"></i>
            <h5 class="fw-bold">Control Panel</h5>
            <p>
              Host your apps, build custom stacks, and choose your control panel
              and OS.
            </p>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
            <i class="fa fa-headset fa-3x text-primary mb-3"></i>
            <h5 class="fw-bold">24/7 Support</h5>
            <p>Your customer service team of experts are available 24/7/365.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ps-lg-5">
        <div class="section-title position-relative mx-auto mb-4 pb-4">
          <h3 class="fw-bold mb-0">Executive plan Server</h3>
        </div>
        <div class="row gy-3 gx-5">
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
            <i class="fa fa-server fa-3x text-secondary mb-3"></i>
            <h5 class="fw-bold">99.99% Uptime</h5>
            <p>
              In many cases, we can fix issues before you are even aware of
              them, ensuring your website stays up and running smoothly at all
              times.
            </p>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
            <i class="fa fa-shield-alt fa-3x text-secondary mb-3"></i>
            <h5 class="fw-bold">100% Secured</h5>
            <p>
              We provide 24/7 real-time security monitoring to actively detect
              and respond to any potential vulnerabilities or threats, keeping
              your Executive plan Server secure around the clock.
            </p>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
            <i class="fa fa-cog fa-3x text-secondary mb-3"></i>
            <h5 class="fw-bold">Control Panel</h5>
            <p>
              If you already have a Virtual Private Server elsewhere and want to
              switch to Troyhost, our expert migration team will handle moving
              all your cPanel accounts to our servers at no additional cost.
            </p>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
            <i class="fa fa-headset fa-3x text-secondary mb-3"></i>
            <h5 class="fw-bold">24/7 Support</h5>
            <p>Your customer service team of experts are available 24/7/365.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comparison Start -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container px-lg-5">
    <div class="owl-carousel testimonial-carousel">
      <div
        class="testimonial-item position-relative bg-light border-top border-5 border-primary rounded p-4 my-4"
      >
        <div
          class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 ms-5 translate-middle bg-primary rounded-circle"
          style="width: 45px; height: 45px; margin-top: -3px"
        >
          <i class="fa fa-quote-left text-white"></i>
        </div>
        <p class="mt-3">
          This group provides excellent service follow up and take the time to
          understand your issues and tailor their support to successfully meet
          your needs. Their follow up is matched to your level of understanding
          and they tailor their support accordingly
        </p>
        <div class="d-flex align-items-center">
          <img
            class="img-fluid flex-shrink-0 rounded-circle"
            src="img/testimonial-1.jpg"
            style="width: 50px; height: 50px"
          />
          <div class="ps-3">
            <h6 class="fw-bold mb-1">Client Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div
        class="testimonial-item position-relative bg-light border-top border-5 border-primary rounded p-4 my-4"
      >
        <div
          class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 ms-5 translate-middle bg-primary rounded-circle"
          style="width: 45px; height: 45px; margin-top: -3px"
        >
          <i class="fa fa-quote-left text-white"></i>
        </div>
        <p class="mt-3">
          Troyhost is my hosting hero! It’s completely stress-free—rock-solid
          servers mean no 404 errors or downtime worries, just pure peace of
          mind. I rarely need support, but when I tested them, their customer
          service was lightning-fast and genuinely kind, solving issues in a
          snap. Plus, their eco-friendly vibe makes me proud to be a customer.
          Love it!
        </p>
        <div class="d-flex align-items-center">
          <img
            class="img-fluid flex-shrink-0 rounded-circle"
            src="img/testimonial-2.jpg"
            style="width: 50px; height: 50px"
          />
          <div class="ps-3">
            <h6 class="fw-bold mb-1">Client Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div
        class="testimonial-item position-relative bg-light border-top border-5 border-primary rounded p-4 my-4"
      >
        <div
          class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 ms-5 translate-middle bg-primary rounded-circle"
          style="width: 45px; height: 45px; margin-top: -3px"
        >
          <i class="fa fa-quote-left text-white"></i>
        </div>
        <p class="mt-3">
          Troyhost Support is always great. They address 95% of my issues on the
          first chat. Support is easy to contact and there is rarely a wait time
          beyond a few seconds.
        </p>
        <div class="d-flex align-items-center">
          <img
            class="img-fluid flex-shrink-0 rounded-circle"
            src="img/testimonial-3.jpg"
            style="width: 50px; height: 50px"
          />
          <div class="ps-3">
            <h6 class="fw-bold mb-1">Client Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div
        class="testimonial-item position-relative bg-light border-top border-5 border-primary rounded p-4 mt-4"
      >
        <div
          class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 ms-5 translate-middle bg-primary rounded-circle"
          style="width: 45px; height: 45px; margin-top: -3px"
        >
          <i class="fa fa-quote-left text-white"></i>
        </div>
        <p class="mt-3">
          I have been using Troyhost as the host for all my websites for many
          years. Besides the reliability and high performance host service,
          their support is exceptionally great as well. All my requests are
          dealt with immediately. I must give their service a five star. I would
          recommend their service to anyone who needs high performance, cost
          effective and responsible host service!!!
        </p>
        <div class="d-flex align-items-center">
          <img
            class="img-fluid flex-shrink-0 rounded-circle"
            src="img/testimonial-4.jpg"
            style="width: 50px; height: 50px"
          />
          <div class="ps-3">
            <h6 class="fw-bold mb-1">Client Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Our Team Members</h1>
      <p class="mb-1">
        We look forward to your business and to serving your web hosting needs.
      </p>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div
          class="team-item border-top border-5 border-primary rounded shadow overflow-hidden"
        >
          <div class="text-center p-4">
            <img
              class="img-fluid rounded-circle mb-4"
              src="img/team-1.jpg"
              alt=""
            />
            <h5 class="fw-bold mb-1">Full Name</h5>
            <small>Designation</small>
          </div>
          <div class="d-flex justify-content-center bg-primary p-3">
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div
          class="team-item border-top border-5 border-primary rounded shadow overflow-hidden"
        >
          <div class="text-center p-4">
            <img
              class="img-fluid rounded-circle mb-4"
              src="img/team-2.jpg"
              alt=""
            />
            <h5 class="fw-bold mb-1">Full Name</h5>
            <small>Designation</small>
          </div>
          <div class="d-flex justify-content-center bg-primary p-3">
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div
          class="team-item border-top border-5 border-primary rounded shadow overflow-hidden"
        >
          <div class="text-center p-4">
            <img
              class="img-fluid rounded-circle mb-4"
              src="img/team-3.jpg"
              alt=""
            />
            <h5 class="fw-bold mb-1">Full Name</h5>
            <small>Designation</small>
          </div>
          <div class="d-flex justify-content-center bg-primary p-3">
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div
          class="team-item border-top border-5 border-primary rounded shadow overflow-hidden"
        >
          <div class="text-center p-4">
            <img
              class="img-fluid rounded-circle mb-4"
              src="img/team-4.jpg"
              alt=""
            />
            <h5 class="fw-bold mb-1">Full Name</h5>
            <small>Designation</small>
          </div>
          <div class="d-flex justify-content-center bg-primary p-3">
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square text-primary bg-white m-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

` }) %>
